body{
    font-family: 'Arial';
    font-size: 16px;
}
*:focus{
    outline: none !important;
}

h1{
    font-family: 'Arial';
    font-weight: 700;
    font-size: 1.5em;
    line-height: 2.25em;
    color: #556270;
}
h1.leading {
    line-height: 1.5em;
}

h2{
    font-family: Arial;
    font-weight: 300;
    font-size: 1.375em;
    color: #556270;
}

h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 1.125em;
    color: #4ecdc4;
}
h3 span.number{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875em;
    color: #556270;
}

h4{
    font-family: Arial;
    font-weight: 300;
    font-size: 1em;
    color: #556270;
}
h4.light{
    font-weight: 300 !important;
    color: #556270;
}

h5{
    font-family: Arial;
    font-weight: 400;
    font-size: 0.875em;
    color: #556270;
}
h5.medium{
    font-weight: 500;
}

p, .t1{
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    line-height: 1.75em;
    color: #556270;
}
t1.leading{
    line-height: none;
}

.t2{
    font-family: 'Roboto Thin', sans-serif;
    font-weight: 100;
    font-size: 1.75em;
    color: #556270;
}

.t3{
    font-family: 'Georgia', serif;
    font-size: 1.25em;
    line-height: 1em;
    color: #556270;
}

.t4{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 0.75em;
    line-height: 1em;
    color: #556270;
}

a{
    font-family: 'Roboto', sans-serif;
    font-weight: 400, 300;
    color: #4ecdc4;
}

a:visited{
    color: #4ecdc4;
}

a:hover{
    color: #247e78;

}
